<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Post+Delete</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
        .layer1 {
            margin-left: 0;
            padding: 5px;
        }

        .input_control {
            width: 30%;
            border-radius: 0;
        }
        .button {
            background-color: #dfdfe0;
            color: black;
            font-size: 15px;
            padding: 5px 10px;
            border-radius: 0;
        }
    </style>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-4 layer1">
    <form th:action="@{/postDelete}" method="post" class="software_engineering_class_form">
        <div class="form-group delete_input">
            <input type="text" class="form-control input_control" name="text" id="text" maxlength="400">
        <div class="form-buttons delete_button">
            <button type="submit" name="action" value="post" class="btn btn-primary button">
                <span class="button__text">Post</span>
            </button>
            <button type="submit" name="action" value="delete" class="btn btn-danger button">
                <span class="button__text">Delete</span>
            </button>
        </div>
        <div th:if="${message}" class="alert alert-info" th:text="${message}"></div>
        <div class="layer1 tab">
        </div>
        </div>
    </form>
</div>
</body>
</html>
